.signIn{
    width: 1026px;
height: 506px;
display: flex;
border-radius: 12px;
margin: 0 auto;
margin-top: 100px;
margin-bottom: 100px;
border-radius: 12px;
box-shadow: 15px 15px 15px 15px rgba(22, 21, 17, 0.983);
}
.Sign-r{
    width: 563px;
height: 100%;
color: white;
text-align: center;
background-color: #212121;
display: flex;
    justify-content: center;
    align-items: center;
&& div{
    width: 458px;
    height: 208px;
}
}
.Sign-r div h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.Sign-r div p{
font-size: 18px;
font-weight: 100;
line-height: 32px;
text-align: center;
}
.Sign-r div button{
 width: 217px;
 height: 42px;
 border-radius: 50px;
 background-color: #ba2e24;
 border: none;
 color: white;
 font-size: 17px;
 margin-top: 30px;
}
.Sign-r div button:hover{
 background-color: #EF4234;
}
.item-signIn2{
    width: 563px;
    height: 100%;
    background-color:  black;
    display: flex;
    justify-content: center;
    align-items: center;
&& div{
    width: 458px;
    height: 208px;
}
}
.Voyti{
    text-align: center;
    width: 350px !important;
    gap: 36px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: -100px;
}
.Voyti input{
    padding-left: 15px;
    width: 350px;
height: 45px;
background-color: #212121;
outline: none;
color: white;
border-radius: 10px;
}
.Voyti button{
    width: 95px;
    height: 42px;
    background-color: #ba2e24;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    &&:hover{
        background-color: #EF4234;
    }
}